@import 'header.css';
@import 'timeline.css';
@import 'revision-info.css';
@import 'page.css';


html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
}

#content,
#index {
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#index {
    height: 100%;
    position: relative;
}



.wrapper {
    width: 100%;
    position: relative;
    max-width: 600px;
    margin: 0 auto;
}

