@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
@import 'header.css';
@import 'timeline.css';
@import 'revision-info.css';
@import 'page.css';
@import 'controls.css';


html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #444;
}

#content,
#index {
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#index {
    height: 100vh;
    position: relative;
}

.wrapper {
    width: 100%;
    position: relative;
    max-width: 600px;
    margin: 0 auto;
}


a:hover {
    color: #4AAACC;
}


@media only screen and (max-width: 1300px)  {
    .wrapper {
        padding-left: 200px;
    }
}

@media only screen and (max-width: 1000px)  {
    .wrapper {
        max-width: 500px;
        padding-left: 240px;
    }
}

@media only screen and (max-width: 900px)  {
    .wrapper {
        padding-left: 300px;
    }
}

@media only screen and (max-width: 850px)  {
    .wrapper {
        padding-left: 0;
        max-width: 600px;
    }
}