
html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
}

#content,
#index {
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#index {
    height: 100%;
}

.timeline {
    height: 80px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    position: relative;

}
.timeline ol {
    margin: 40px 8px;
    position: relative;
    height: 100%;
}

.timeline li {
    list-style: none;
    pointer-events: none;
  
}

.revision-marker:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    margin-left: -5px;
    margin-top: -5px;
    border-radius: 99px;
    background: rgba(0, 0, 0, 0.5);
}

.revision-marker.current-revision:before {
    background: red;
}

.scrubber {
    border: 1px solid black;
    height: 100%;
}



.revision-info {
    width: 300px;
    position: absolute;
    top: 0;
    margin-left: calc(-300px - 30px);
    background: blue;
}