.revision-info {
    padding-top: 1em;
}

.duration {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.duration,
.duration-label {
    font-family: 'Cutive Mono', monospace;
}

.duration-label {
    margin-top: 0.4em;
}

.duration > * {
    display: block;
    padding: 0 0.3em;
}

.duration-value {
    white-space: pre;
    font-size: 1.8em;
}

.duration-unit {
    font-weight: bold;
    font-size: 0.7em;
}

.revision-info .controls {
    padding: 2em 0;
}

@media only screen and (max-width: 850px), screen and (max-height: 500px) {
    .revision-info {
        font-size: 0.8em;
    }

    .revision-info .controls {
        display: none;
    }
}

